<div class="container">
  <h1 class="form-title">Registrar Nuevo Bibliotecario</h1>
  <div class="form-group">
    <label for="nombreBibliotecario">Nombre del Bibliotecario</label>
    <input type="text" id="nombreBibliotecario" placeholder="Nombre del Bibliotecario" maxlength="50" [(ngModel)]="nombreBibliotecario" >
  </div>
  <div class="form-group">
    <label for="Numero">Numero Telefonico</label>
    <input type="text" id="Numero" placeholder="Numero Telefonico" maxlength="50" [(ngModel)]="numero" >
  </div>
  <div class="form-group">
    <label for="Direccion">Direccion</label>
    <input type="text" id="Direccion" placeholder="Direccion" maxlength="50" [(ngModel)]="direccion" >
  </div>
  <div class="form-group">
    <label for="Usuario">Usuario</label>
    <input type="text" id="Usuario" placeholder="Usuario" maxlength="50" [(ngModel)]="confirmCancel" >
  </div>
  <div class="form-group">
    <label for="Contraseña">Contraseña</label>
    <input type="text" id="contraseña" placeholder="contraseña" maxlength="50" [(ngModel)]="usuario" >
  </div>
  <div class="form-group">
    <label for="confirmacioncontraseña">Confirmacion de Contraseña</label>
    <input type="text" id="confirmacioncontraseña" placeholder="confirmacioncontraseña" maxlength="50" [(ngModel)]="usuario" >
  </div>

  <div *ngIf="isVisble" class="modal-backdrop">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <h3>Datos registrados correctamente!!    Gracias por Registrarte :D</h3>
        <button class="save-button" (click)="isVisble=false">Aceptar</button>
    </div>
  </div>

  <!-- Repite lo mismo para los demás campos -->
  <div class="buttons">
    <button class="cancel-button" (click)="limpiarDatos()">Cancelar</button>

    <button class="save-button" (click)="showDialog()">Guardar</button>
  </div>

</div>
  