.search-books {
    position: relative;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad para ver la imagen detrás */
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    opacity: 01;
}

.search-books::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/Biblioteca.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Ajusta este valor para cambiar la opacidad */
    z-index: -1;
}

.search-header, .filters, .results {
    position: relative;
    z-index: 1;
}

.search-header h2 {
    margin: 0;
}

.search-header input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.filters select, .filters button {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

.results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
}
