<div class="main-content">
  <router-outlet></router-outlet>
  <div class="sidebar" [ngClass]="{'hidden': isSidebarHidden}">
    <ul>
      <li><a href="#welcome">Inicio</a></li>
      <li><a (click)="showSearchBooks()">Búsqueda de libros</a></li>
      <li><a href="#registrar-lector">Registrar lector</a></li>
      <li><a (click)="showNewBook()">Registrar libro</a></li>
      <li><a (click)="showMulta()">Gestionar Multas</a></li>
      <li><a href="#multa">Multas</a></li>
      <li><a href="#reporte">Generar reporte</a></li>
      <li><a (click)="showEmailConfirmation()">Confirmar Email</a></li>
    </ul>
  </div>
  <div class="content-section">
    <div *ngIf="showSearch">
      <app-search-books></app-search-books>
    </div>
    <div *ngIf="showNewBooks">
      <app-newbooks></app-newbooks>
    </div>
    <div *ngIf="showEmailConfirm">
      <app-confirmacion-de-email></app-confirmacion-de-email>
    </div>
    <div *ngIf="showMultas">
      <app-multas></app-multas>
    </div>
  </div>
</div>