
<div class="container">
    <h1 class="form-title">Registrar Libro</h1>
    <form (ngSubmit)="saveBook()">
        <div class="form-group">
            <label for="nombreLibro">Nombre del Libro</label>
            <input type="text" id="nombreLibro" placeholder="Nombre del libro" maxlength="50" [(ngModel)]="nombreLibro" name="nombreLibro" required>
        </div>
        <div class="form-group">
            <label for="autor">Autor</label>
            <input type="text" id="autor" placeholder="Nombre del autor" maxlength="50" [(ngModel)]="autor" name="autor" required>
        </div>
        <div class="form-group">
            <label for="tema">Tema</label>
            <input type="text" id="tema" placeholder="Tema del libro" maxlength="50" [(ngModel)]="tema" name="tema" required>
        </div>
        <div class="form-group">
            <label for="categoria">Categoría</label>
            <select id="categoria" [(ngModel)]="categoria" name="categoria" required>
                <option value="" disabled selected>Seleccione una categoría</option>
                <option value="Ciencias Sociales">Ciencias Sociales</option>
                <option value="Ciencias Naturales">Ciencias Naturales</option>
                <option value="Ingeniería y Tecnología">Ingeniería y Tecnología</option>
                <option value="Ciencias de la Salud">Ciencias de la Salud</option>
                <option value="Humanidades">Humanidades</option>
                <option value="Educación">Educación</option>
                <option value="Matemáticas">Matemáticas</option>
                <option value="Derecho">Derecho</option>
                <option value="Administración y Negocios">Administración y Negocios</option>
                <option value="Ciencias de la Computación">Ciencias de la Computación</option>
                <option value="Literatura y Lingüística">Literatura y Lingüística</option>
                <option value="Ciencias Políticas y Relaciones Internacionales">Ciencias Políticas y Relaciones Internacionales</option>
                <option value="Arquitectura y Urbanismo">Arquitectura y Urbanismo</option>
                <option value="Ciencias Ambientales y Ecología">Ciencias Ambientales y Ecología</option>
                <option value="Filosofía y Teología">Filosofía y Teología</option>
                <option value="Otra...">Otra...</option>
            </select>
        </div>
        <div class="form-group">
            <label for="informacion">Descripción (Edición, editorial y año)</label>
            <textarea id="informacion" placeholder="Información adicional" [(ngModel)]="informacion" name="informacion" rows="5" cols="30"></textarea>
        </div>
        <div class="form-group">
            <label for="isbn">ISBN</label>
            <input type="text" id="isbn" placeholder="Número ISBN" [(ngModel)]="isbn" name="isbn" required>
        </div>
        <div class="form-group">
            <label for="ejemplares">Número de ejemplares</label>
            <input type="number" id="ejemplares" placeholder="Número de ejemplares" [(ngModel)]="ejemplares" name="ejemplares" required>
        </div>
        <div class="form-group">
            <label for="portada">Portada del libro</label>
            <input type="file" id="portada" (change)="onFileSelected($event)" accept="image/*">
        </div>
        <div class="buttons">
            <button type="button" class="cancel-button" (click)="confirmCancel()">Cancelar</button>
            <button type="submit" class="save-button">Guardar</button>
        </div>
    </form>
</div>
