<div class="content-section">
  <div class="header">
    <div class="overlay">
      <button type="button" class="button-back" (click)="goBackToLogin()">Volver</button>
      <div class="container">
        <div class="position-relative">
          <button type="button" aria-label="Close" (click)="close()"></button>
        </div>
        <form class="card-body cardbody-color p-lg-5" (ngSubmit)="onSubmit()">
          <div class="text-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png"
              class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px" alt="profile">
          </div>

          <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-color px-5 mb-5 w-100">Enviar Código</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
