body {
  font-family: 'Arial', sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 50px;
  margin: 0 auto;
}

.image-container {
  display: inline-flex;
  align-items: center;
}

button[mat-icon-button] {
  color: #2B6ADF;
}

.mat-icon {
  font-size: 24px;
}

.main-layout {
  display: flex;
  flex-grow: 1;
  margin-top: 60px; /* Ajuste para la altura de la navbar */
  overflow: hidden;
}

.sidebar {
  background-color: #2B6ADF;
  height: calc(100vh - 60px); /* Ajustar para la altura del navbar */
  width: 220px;
  padding: 15px;
  color: white;
  flex-shrink: 0;
  overflow-y: auto;
  transition: transform 0.3s ease;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #d4d4db;
  color: rgb(0, 0, 0);
}

.content-section {
  flex-grow: 2;
  margin-left: 220px;
  padding: 20px;
  background-image: url('https://static.vecteezy.com/system/resources/previews/001/886/051/non_2x/color-books-seamless-pattern-background-vector.jpg');
  background-size: cover;
  background-position: auto;
  overflow-y: auto;
  min-height: calc(100vh - 60px - 40px); /* Ajustado para la altura de navbar y footer */
}

.content-section.full-width {
  margin-left: 0; /* Expande el contenido cuando la sidebar está oculta */
}

.seccion-noticias {
  width: 100%;
  background-color: rgba(245, 245, 245, 0.9);
  padding: 20px;
  overflow-y: auto;
}

.noticias-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.noticia-item {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.noticia-item h3 {
  margin-top: 0;
  color: #2B6ADF;
}

.noticia-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.footer {
  background-color: #ffffff;
  padding: 20px 0;
  text-align: center;
  color: #2B6ADF;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
