body {
  font-family: 'Arial', sans-serif;
  padding: 0;
  display: flex;
  height: auto;
  overflow: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 50px;
  margin: 0 auto; /* Centrando el logo */
}

.image-container {
  display: inline-flex;
  align-items: center;
}

button[mat-icon-button] {
  color: #2B6ADF;
}

.mat-icon {
  font-size: 24px;
}

.mat-icon.more-options {
  font-size: 48px; /* Doble de grande */
}

.main-content {
  display: flex;
  flex-grow: 1;
  margin-top: 60px; /* Ajusta según la altura de la navbar */
  overflow: hidden;
  height: calc(100vh - 60px);
}

.sidebar {
  background-color: #2B6ADF;
  height: 100%;
  width: 220px;
  padding: 15px;
  color: white;
  flex-shrink: 0;
  overflow-y: auto;
  transition: transform 0.3s ease;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #d4d4db;
  color: rgb(0, 0, 0);
}

.content-section {
  flex-grow: 1;
  padding: none;
  background-image: url('https://static.vecteezy.com/system/resources/previews/001/886/051/non_2x/color-books-seamless-pattern-background-vector.jpg');

  background-size: cover;
  background-position: center;
  overflow-y: auto;
  height: 100%;
}

.seccion-noticias {
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.9);
  padding: 20px;
  overflow-y: auto;
}

.noticias-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.noticia-item {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.noticia-item h3 {
  margin-top: 0;
  color: #2B6ADF;
}

.noticia-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.header {
  text-align: center;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  margin: 0;
}

.content-section .header .overlay {
  background: rgba(255, 255, 255, 0.9);
  padding: 80px;
  border-radius: 10px;
  color: black;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.sidebar {
  transform: translateX(0); /* Posición inicial */
  transition: transform 0.3s ease; /* Transición suave */
}

.sidebar.hidden {
  transform: translateX(-100%); /* Oculta la barra lateral */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.footer {
  background-color: #ffffff; /* Color de fondo del footer */
  padding: 20px 0;
  text-align: center;
  color: #2B6ADF; /* Color del texto */
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}