<body>
  <div class="navbar">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR8YrcFCPbj_x4P9KKtC7L4eH8NMNV8NDE2Q&s" alt="Logo UTNG" class="logo">
    <div>
        <div class="image-container">
          <button mat-icon-button  (click)="openModal()" type="button">
            <mat-icon>account_circle</mat-icon>
          </button>
      </div>
    </div>
  </div>

  <div class="content-section">
    <div class="header">
      <div class="overlay">
        <p class="fancy-paragraph">Bienvenidos/as a la biblioteca UTNG</p>
        <h2>Estimados Bibliotecarios:</h2>
        <p>Se les recuerda la importancia de realizar respaldos de la información relacionada con las colecciones y servicios que tienen asignados en el sistema de gestión bibliográfica por el periodo que está por concluir. Es fundamental descargar los recursos digitales y documentos que consideren más importantes y necesarios.</p>
        <p>Asimismo, les solicitamos amablemente que informen si continuarán utilizando las colecciones y servicios asignados, en el sistema de gestión bibliográfica, una vez concluido este periodo y antes de iniciar el siguiente.</p>
        <p>Esto es para evitar la pérdida de información debido a reinicios del sistema o posibles reconfiguraciones de colecciones.</p>
        <p>Agradecemos de antemano su colaboración y atención.</p>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Universidad Tecnológica del Norte de Guanajuato. Todos los derechos reservados.</p>
    </div>
  </footer>

</body>
