<!-- sidebar.component.html -->
<aside>
<div class="sidebar" id="sidebar">
  <ul>
    <li><a routerLink="/welcome">Inicio</a></li>
    <li><a routerLink="/gestionarlibros">Gestionar libros</a></li>
    <li><a routerLink="/prestarLibro">Prestar libro</a></li>
    <li><a routerLink="/verLibro">Ver libros</a></li>
    <li><a routerLink="/buscarlibros">Búsqueda de libros</a></li>
    <li><a routerLink="/gestionarmultas">Gestionar multas</a></li>
    <li><a routerLink="/registrarlector">Registrar lector</a></li>
    <li><a routerLink="/registrarlibro">Registrar libro</a></li>
    <li><a routerLink="/multas">Multas</a></li>
    <li><a routerLink="/generarreporte">Generar reporte</a></li>
  </ul>
</div>
</aside>