<div class="content-section">
      <button type="button" class="button-back" (click)="goBackToLogin()">Volver</button>
      <div class="container">
        <form class="card-body cardbody-color p-lg-5" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="mb-3">
            <input type="User" class="form-control" id="User" placeholder="Ingresa tu usuario">
          </div>
          <div class="mb-3">
            <input type="Code" class="form-control" id="code" placeholder="Codigo">
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-color px-5 mb-5 w-100">Enviar Código</button>
          </div>
            <div class="text-center">
              <button type="submit" class="btn btn-color px-5 mb-5 w-100">Recuperar Contraseña</button>
            </div>
        </form>
      </div>
    </div>
