.btn-color{
  background-color: #36823b;
  color: #ffffff;
  
}

.profile-image-pic{
  height: 100px;
  width: 100px;
  object-fit: cover;
}



.cardbody-color{
  background-color: #ffffff;
}

a{
  text-decoration: none;
}

.content-section .overlay {
  background: rgba(255, 255, 255, 0.9);
  padding: 80px;
  border-radius: 10px;
  color: black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.header h1 {
margin: 0;
}

.header .overlay {
background: rgba(255, 255, 255, 0.8);
padding: 40px;
border-radius: 20px;
color: black;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}