<div class="modal" id="virusAlert">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <h2>¡Alerta de Seguridad!</h2>
      <p>¡Se ha detectado un intento de acceso no autorizado!</p>
      <p>Un virus ha sido activado. No puedes entrar aquí sin autorización.</p>
      <p>Por favor, inicia sesión para evitar consecuencias fatales.</p>
      <button class="btn" (click)="goToHome()">Ir a Inicio</button> <!-- Cambiado a Ir a Inicio -->
    </div>
  </div>