


<div *ngIf="prestamos.length > 0">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Lector</th>
        <th>Libro</th>
        <th>Autor</th>
        <th>Bibliotecario</th>
        <th>Fecha de Préstamo</th>
        <th>Fecha de Devolución</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prestamo of prestamos">
        <td>{{ prestamo.IdPrestamo }}</td>
        <td>{{ prestamo.NumeroControl }}</td>
        <td>{{ prestamo.ISBN }}</td>
        <td>{{ prestamo.Autor }}</td>
        <td>{{ prestamo.IdBibliotecario }}</td>
        <td>{{ prestamo.FechaPrestamo | date }}</td>
        <td>{{ prestamo.FechaDevolucion | date }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <button class="actualizar-boton" (click)="actualizarReporte()">Actualizar</button>
</div>
<div *ngIf="prestamos.length === 0">
  No hay préstamos para mostrar.
</div>
<div *ngIf="mensajeDeError" class="error-message">
  {{ mensajeDeError }}
</div>

<!-- <div *ngIf="!mensajeDeError && prestamos.length > 0">
  <h2>Lista de Préstamos</h2>
  <ul>
    <li *ngFor="let prestamo of prestamos">
      {{ prestamo.titulo }} - {{ prestamo.lector }} ({{ prestamo.fecha }})
    </li>
  </ul>
</div> -->


<div *ngIf="!mensajeDeError && prestamos.length === 0">
  <p>No hay préstamos disponibles en este momento.</p>
</div>
