<div class="container">
  <h1 class="form-title">Registrar Nuevo Bibliotecario</h1>
  <div class="form-group">
    <label for="NombreBibliotecario">Nombre del Bibliotecario</label>
    <input type="text" id="NombreCompleto" placeholder="Nombre del Bibliotecario" maxlength="50" [(ngModel)]="NombreCompleto">
    <mat-icon routerLink="/bibliotecario"></mat-icon>
  </div>
  <div class="form-group">
    <label for="Correo">Correo Electronico</label>
    <input type="text" id="Correo" placeholder="Correo" maxlength="100" [(ngModel)]="Correo">
    <mat-icon routerLink="/bibliotecario"></mat-icon>
  </div>
  <div class="form-group">
    <label for="Numero">Número Telefónico</label>
    <input type="text" id="Telefono" placeholder="Número Telefónico" maxlength="15" [(ngModel)]="Telefono">
    <mat-icon routerLink="/bibliotecario"></mat-icon>
  </div>
  <div class="form-group">
    <label for="Usuario">Usuario</label>
    <input type="text" id="NombreUsuario" placeholder="Usuario" maxlength="50" [(ngModel)]="NombreUsuario">
    <mat-icon routerLink="/bibliotecario"></mat-icon>
  </div>
  <div class="form-group">
    <label for="Contrasena">Contraseña</label>
    <input type="password" id="Contrasena" placeholder="Contraseña" maxlength="255" [(ngModel)]="Contrasena">
    <mat-icon routerLink="/bibliotecario"></mat-icon>
  </div>
  <div class="buttons">
    <button (click)="confirmCancel()">Cancelar</button>
    <button (click)="saveBibliotecario()">Guardar</button>
  </div>
</div>