<div class="content-section">
  <div class="header">
    <div class="overlay"><div class="container">
          <div class="position-relative">
            <button type="button" aria-label="Close"></button>
          </div>
  
          <form class="card-body cardbody-color p-lg-5">
  
            <div class="text-center">
              <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png"
                class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px" alt="profile">
            </div>
  
            <div class="mb-3">
              <input type="text" class="form-control" id="Username" aria-describedby="emailHelp" placeholder="User Name" required>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" id="password" placeholder="password" required>
            </div>
            <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100" [routerLink]="['/menu']" routerLinkActive="router-link-active" >Ingresar</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  

