<div class="container">
  <h1 class="form-title">Registrar Nuevo Bibliotecario</h1>
  <div class="form-group">
    <label for="nombreBibliotecario">Nombre del Bibliotecario</label>
    <input type="text" id="nombreBibliotecario" placeholder="Nombre del Bibliotecario" maxlength="50" [(ngModel)]="NombreCompleto">
    <mat-icon routerLink="/bibliotecarios"></mat-icon>
  </div>
  <div class="form-group">
    <label for="Numero">Número Telefónico</label>
    <input type="text" id="Numero" placeholder="Número Telefónico" maxlength="15" [(ngModel)]="Telefono">
    <mat-icon routerLink="/bibliotecarios"></mat-icon>
  </div>
  <div class="form-group">
    <label for="Usuario">Usuario</label>
    <input type="text" id="Usuario" placeholder="Usuario" maxlength="50" [(ngModel)]="NombreUsuario">
    <mat-icon routerLink="/bibliotecarios"></mat-icon>
  </div>
  <div class="form-group">
    <label for="Contrasena">Contraseña</label>
    <input type="password" id="Contrasena" placeholder="Contraseña" maxlength="255" [(ngModel)]="Contrasena">
    <mat-icon routerLink="/bibliotecarios">edit</mat-icon>
  </div>
  <div class="form-group">
    <label for="confirmacionContrasena">Confirmación de Contraseña</label>
    <input type="password" id="confirmacionContrasena" placeholder="Confirmación de Contraseña" maxlength="255" [(ngModel)]="Contrasena">
    <mat-icon routerLink="/bibliotecarios">edit</mat-icon>
  </div>
  <div class="form-group">
    <label for="idAdmin">Clave del Administrador</label>
    <input type="password" id="idAdmin" placeholder="Clave del Administrador" maxlength="10" [(ngModel)]="IAdmin" required>
    <mat-icon routerLink="/bibliotecarios"></mat-icon>
  </div>

  <div class="buttons">
    <button routerLink="/bibliotecarios">Cancelar</button>
    <button (click)="saveBibliotecario()">Guardar</button>
  </div>
</div>
