<!-- app.component.html -->
<div  class="container"> 
  <div class="report-container">
    <h1>Reporte de Lector - Biblioteca</h1>

    <div class="reader-info">
      <h2>Información del Lector</h2>
      <p><strong>Nombre del Lector:</strong> {{ reader.nombre }}</p>
      <p><strong>Correo del Lector:</strong> {{ reader.correo }}</p>
      <p><strong>Número de Control:</strong> {{ reader.numeroControl }}</p>
    </div>

    <div class="borrowed-books">
      <h2>Libros Prestados</h2>
      <table>
        <thead>
          <tr>
            <th>Título del Libro</th>
            <th>Fecha de Préstamo</th>
            <th>Fecha de Devolución</th>
            <th>Multas Anteriores</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let libro of librosPrestados">
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.fechaPrestamo | date }}</td>
            <td>{{ libro.fechaDevolucion | date }}</td>
            <td>{{ libro.multasAnteriores | currency:'USD':'symbol':'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="additional-info">
      <h2>Información Adicional</h2>
      <p><strong>Fecha de Adquisición del Lector:</strong> {{ reader.fechaAdquisicion | date }}</p>
      <p><strong>Nombre del Último Prestador:</strong> {{ reader.ultimoPrestador }}</p>
      <p><strong>Cantidad que Debe:</strong> {{ reader.cantidadDebe | currency :'USD':'symbol':'1.2-2' }}</p>
    </div>
    <div>
      <button class="save-button" (click)="showDialog()">Enviar Documento</button>
    </div>

    <div *ngIf="isVisble" class="modal-backdrop">
      <div class="modal-content" (click)="$event.stopPropagation()">
          <h3>El reporte a sido enviado a su correo</h3>
          <button class="save-button" (click)="isVisble=false">Aceptar</button>
      </div>
    </div>

  </div>
</div>