<div class="modal-header">
  <h4 class="modal-title">Editar Libro</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
      <div class="form-group">
        <label for="isbn">ISBN</label>
        <input type="text" class="form-control" id="isbn" [(ngModel)]="book.ISBN" name="isbn" readonly>
      </div>
      <div class="form-group">
        <label for="titulo">Título</label>
        <input type="text" class="form-control" id="titulo" [(ngModel)]="book.Titulo" name="titulo" required>
    </div>
    <div class="form-group">
        <label for="autor">Autor</label>
        <input type="text" class="form-control" id="autor" [(ngModel)]="book.Autor" name="autor" required>
    </div>
      <div class="form-group">
        <label for="tema">Tema</label>
        <input type="text" class="form-control" id="tema" [(ngModel)]="book.Tema" name="tema" required>
      </div>
      <div class="form-group">
        <label for="categoria">Categoría</label>
        <select id="categoria" [(ngModel)]="book.categoria" name="categoria" required>
            <option value="" disabled selected>Seleccione una categoría</option>
            <option value="Ciencias Sociales">Ciencias Sociales</option>
            <option value="Ciencias Naturales">Ciencias Naturales</option>
            <option value="Ingeniería y Tecnología">Ingeniería y Tecnología</option>
            <option value="Ciencias de la Salud">Ciencias de la Salud</option>
            <option value="Humanidades">Humanidades</option>
            <option value="Educación">Educación</option>
            <option value="Matemáticas">Matemáticas</option>
            <option value="Derecho">Derecho</option>
            <option value="Administración y Negocios">Administración y Negocios</option>
            <option value="Ciencias de la Computación">Ciencias de la Computación</option>
            <option value="Literatura y Lingüística">Literatura y Lingüística</option>
            <option value="Ciencias Políticas y Relaciones Internacionales">Ciencias Políticas y Relaciones Internacionales</option>
            <option value="Arquitectura y Urbanismo">Arquitectura y Urbanismo</option>
            <option value="Ciencias Ambientales y Ecología">Ciencias Ambientales y Ecología</option>
            <option value="Filosofía y Teología">Filosofía y Teología</option>
            <option value="Otra...">Otra...</option>
        </select>
    </div>
      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <textarea class="form-control" id="descripcion" [(ngModel)]="book.Descripcion" name="descripcion"></textarea>
      </div>
      <div class="form-group">
        <label for="numeroEjemplares">Número de Ejemplares</label>
        <input type="number" class="form-control" id="numeroEjemplares" [(ngModel)]="book.NumeroEjemplares" name="numeroEjemplares" required>
      </div>
      <div class="form-group">
        <label for="portada">Portada</label>
        <input type="file" class="form-control" id="portada" (change)="onFileSelected($event)" accept="image/*">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Cancelar</button>
    <button type="button" class="cancel-button" (click)="deleteBook()">Eliminar</button>
    <button type="button" class="save-button" (click)="saveBook()">Guardar</button>
  </div>