
<body>
    <div class="navbar">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR8YrcFCPbj_x4P9KKtC7L4eH8NMNV8NDE2Q&s" alt="Logo UTNG" class="logo">
        <div>
            <div class="image-container">
                <a href="#Notificaciones">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5-1-BdHuLzFVPwIeEVLAOi9IHXGfizMmWFA&s" alt="Notificacion">
                </a>
            </div>
            <div class="image-container">
                <a href="#Question">
                    <img src="https://png.pngtree.com/png-clipart/20210312/original/pngtree-question-mark-pattern-png-image_6070996.jpg" alt="Questions">
                </a>
            </div>
            <div class="image-container">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="User">
                <div class="dropdown-menu">
                    <div class="dropdown-content">
                        <a href="#InicioSesion">Cambiar Usuario</a>
                        <a href="#Usuario">Cerrar Sesion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="sidebar" id="sidebar">
            <ul>
                <li><a href="#welcome">Inicio</a></li>
                <li><a href="#gestionar">Gestionar libros</a></li>
                <li><a href="#prestar">Prestar libro</a></li>
                <li><a href="#ver">Ver libros</a></li>
                <li><a href="#busqueda">Búsqueda de libros</a></li>
                <li><a href="#multas">Gestionar multas</a></li>
                <li><a href="#registrar-lector">Registrar lector</a></li>
                <li><a href="#registrar-libro">Registrar libro</a></li>
                <li><a href="#multa">Multas</a></li>
                <li><a href="#reporte">Generar reporte</a></li>
            </ul>
        </div>
    </div>
</body>


