<body>
  <div class="navbar">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR8YrcFCPbj_x4P9KKtC7L4eH8NMNV8NDE2Q&s" alt="Logo UTNG" class="logo">
    <div>
      <div class="image-container">
        <a href="#Notificaciones">
          <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
          </button>
        </a>
      </div>
      <div class="image-container">
        <a href="#Question">
          <button mat-icon-button>
            <mat-icon>help</mat-icon>
          </button>
        </a>
      </div>
      <div class="image-container">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="redirectToHome()">
            <span>Cambiar Usuario</span>
          </button>
          <button mat-menu-item (click)="redirectToHome()">
            <span>Cerrar Sesion</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  
  <div class="main-content">
    <div class="sidebar" id="sidebar" [ngClass]="{'hidden': isSidebarHidden}">
      <ul>
        <li><a href="#welcome">Inicio</a></li>
        <li><a (click)="showSearchBooks()">Búsqueda de libros</a></li>
        <li><a (click)="showRegistroLectores()">Registrar lector</a></li>
        <li><a (click)="showNewBook()">Registrar libro</a></li>
        <li><a (click)="showMulta()">Gestionar Multas</a></li>
        <li><a href="#multa">Multas</a></li>
        <li><a (click)="showPersonalisado()">Generar reporte</a></li>
        <li><a (click)="showEmailConfirmation()">Confirmar Email</a></li>
        <li><a (click)="showRegistroBlibliotecarios()">Nuevos Bibliotecarios</a></li>
      </ul>
    </div>
    <div class="content-section">
      <div *ngIf="showSearch">
        <app-search-books></app-search-books>
      </div>
      <div *ngIf="showNewBooks">
        <app-newbooks></app-newbooks>
      </div>
      <div *ngIf="showEmailConfirm">
        <app-confirmacion-de-email></app-confirmacion-de-email>
      </div>
      <div *ngIf="showMultas">
        <app-multas></app-multas>
      </div>
      <div *ngIf="showRegistro">
        <app-bibliotecarios></app-bibliotecarios>
      </div>
      <div *ngIf="showLectores">
        <app-registro-lector></app-registro-lector>
      </div>
      <div *ngIf="showPersonalisado">
        <app-personalisado></app-personalisado>
      </div>
    </div>
  </div>
  </body>
  